@charset "utf-8";

/*全ページ共通の設定*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #078080;
  --white: #fffffe;
  --black: #232323;
  --gray: #9b9b93;
  --orange: #f45d48;
  --beige: #f8f5f2;

  --regular-64px: normal 400 64px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;
  --regular-48px: normal 400 48px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;
  --regular-32px: normal 400 32px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;
  --regular-24px: normal 400 24px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;
  --regular-18px: normal 400 18px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;
  --regular-16px: normal 400 16px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;
  --regular-14px: normal 400 14px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;
  --regular-12px: normal 400 12px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;

  --bold-64px: normal 700 64px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;
  --bold-48px: normal 700 48px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;
  --bold-32px: normal 700 32px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;
  --bold-24px: normal 700 24px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;
  --bold-18px: normal 700 18px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;
  --bold-16px: normal 700 16px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;
  --bold-14px: normal 700 14px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;
  --bold-12px: normal 700 12px/1.6 "Zen Kaku Gothic New", "Noto Sans JP",
    sans-serif;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--beige);
}

body > div {
  width: 100%;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
