@charset "utf-8";

/*個々の設定*/

.header {
  width: 100%;
  height: 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 24px 40px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-logo {
  display: block;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-site-menu {
  width: 100%;
  height: 100vh;
  background-color: var(--orange);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.header-site-menu.is-active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.site-menu {
  color: var(--beige);
  font: var(--bold-24px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  list-style: none;
  padding: 0;
}

.site-menu li a {
  display: inline-block;
  width: 240px;
  text-align: center;
  background-color: var(--beige);
  color: var(--black);
  padding: 16px 0;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.site-menu li a:hover {
  background-color: var(--white);
  color: var(--orange);
}

.burger {
  width: 80px;
  height: 80px;
  background-image: url("../images/burger_1.png");
  background-size: 80px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-left: auto;
  cursor: pointer;
  z-index: 20;
}

.burger.is-active {
  background-image: url("../images/burger_2.png");
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.hero img.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  margin: 0;
  padding: 0;
}

.hero-content {
  color: var(--black);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-content h1 {
  font: var(--regular-64px);
}

.hero-content p {
  font: var(--regular-14px);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title,
.section-title-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title h2,
.section-title-works h2 {
  font: var(--bold-48px);
}
.section-title h2 {
  color: var(--white);
}
.section-title-works h2 {
  color: var(--green);
}

/*タイトルの下の小文字*/
.section-title p {
  font: var(--regular-14px);
  color: var(--black);
}

.skill {
  display: flex;
  flex-direction: column;
  width: 233px;
  align-items: center;
  gap: 24px;
  position: relative;
  z-index: 40;
}

.skill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 400px;
  background-color: var(--white);
  border-radius: 32px;
  transform: translate(-27px, -20px);
  z-index: -1;
}

.skill h3 {
  font: var(--bold-24px);
  color: var(--black);
}

.skill p {
  font: var(--regular-14px);
  color: var(--black);
}

.skills {
  display: flex;
  gap: 64px;
  padding: 0 16px;
}

#service {
  display: flex;
  flex-direction: column;
  gap: 64px;
  background-color: var(--orange);
  padding: 80px 0px 150px;
  align-self: stretch;
  align-items: center;
}

#works {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  padding: 80px 0px 150px;
}

.works-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 300px;
  align-items: flex-start;
}

.works-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
}

.tag {
  background-color: var(--orange);
  padding: 2px 8px;
  border-radius: 4px;
  color: var(--white);
  font: var(--regular-12px);
}

.works-card h3 {
  color: var(--black);
  font: var(--bold-18px);
}

.flat-button {
  display: inline-block;
  padding: 12px 32px;
  background-color: var(--green);
  color: var(--white);
  font: var(--bold-18px);
  border: none;
  border-radius: 32px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.flat-button:hover,
.flat-button:focus {
  background-color: var(--white);
  color: var(--orange);
  outline: none;
}

.hidden {
  display: none;
}


#about {
  display: flex;
  flex-direction: column;
  gap: 64px;
  background-color: var(--green);
  padding: 80px 10px 120px 10px;
  align-self: stretch;
  align-items: center;
}

.my-profile {
  display: flex;
  flex-direction: column;
}

.my-profile h3 {
  color: var(--white);
  font: var(--regular-48px);
}

.my-profile p {
  color: var(--black);
  font: var(--regular-16px);
  margin-top 20px;
}

.about-area {
  display: flex;
  align-items: center;
  gap: 80px;
}

.footer {
  color: var(--black);
  font: var(--regular-14px);
  display: flex;
  justify-content: flex-end;
}

/*スマホ用画面*/
@media (max-width: 768px) {
  .site-menu li a {
    width: 200px;
    padding: 14px 0;
  }

  .header-logo img {
    width: 200px;
    height: auto;
  }

  .works-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .works-card {
    width: 90%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .work-image {
    width: 100%;
    max-width: none;
    height: auto; 
    transform: scale(1.1); 
  }

  #service {
    padding: 80px 16px 80px;
    gap: 40px;
  }

  .skills {
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }

  .skill {
    margin-top: 24px;
  }

  .skills .skill:nth-child(2) {
    margin-bottom: -20px;
  }

  .hero-content h1 {
    font: var(--regular-48px);
  }

  .about-area {
    flex-direction: column;
    gap: 24px;
  }

  .my-profile h3 {
    text-align: center;
    font: var(--bold-32px);
  }

  .my-profile p {
    max-width: 350px;
    text-align: center;
    font: var(--regular-14px);
  }
}

/* タブレット用画面 */
@media (min-width: 769px) and (max-width: 1024px) {
  #service {
    padding: 60px 24px 120px;
    gap: 48px;
  }

  .skills {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 48px;
    padding: 0 32px;
  }

  .skill {
    margin: 0 16px;
    margin-top: 24px;
  }

  .hero-content h1 {
    font: var(--regular-48px);
  }

  .hero-content p {
    font: var(--regular-16px);
  }

  .header {
    padding: 20px 32px;
  }

  .site-menu li a {
    width: 200px;
    padding: 14px 0;
  }

  .works-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
  }

  .works-card {
    width: 100%;
    max-width: 360px;
  }

  .about-area {
    flex-direction: column;
    gap: 48px;
  }

  .my-profile h3 {
    text-align: center;
    font: var(--bold-32px);
  }

  .my-profile p {
    text-align: center;
    font: var(--regular-14px);
  }
}
